<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041851523256-fug0aph7a9a2jhfunvq9aonrhl8j972i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041851523256-fug0aph7a9a2jhfunvq9aonrhl8j972i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041851523256-83rjj5rtemq4g1674t8bms93qtm7cbpf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf4IlVp-0rdV7foazrOOpSNvZ58lYNJZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1041851523256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chateo</string>
	<key>PROJECT_ID</key>
	<string>chateo-83e48</string>
	<key>STORAGE_BUCKET</key>
	<string>chateo-83e48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041851523256:ios:335fb4c88f6eb297bc544d</string>
	<key>DATABASE_URL</key>
	<string>https://chateo-83e48-default-rtdb.firebaseio.com</string>
</dict>
</plist>